VITE_SUPABASE_URL=votre_url_supabase_ici
VITE_SUPABASE_ANON_KEY=votre_cle_anon_supabase_ici

# Afrotools — Passerelles API Africaines (Optionnel, simulation automatique si vide)
VITE_WAVE_API_KEY=votre_cle_api_wave_ici
VITE_BICTORYS_API_KEY=votre_cle_api_bictorys_ici
VITE_NIMBASMS_SERVICE_ID=votre_service_id_nimbasms
VITE_NIMBASMS_SECRET_TOKEN=votre_secret_token_nimbasms

